# Dependencies
node_modules/
*/node_modules/
**/node_modules/

# Production builds
dist/
*/dist/
**/dist/
build/
.next/
*/.next/
**/.next/
out/
*.tsbuildinfo
**/*.tsbuildinfo

# Environment files
.env
.env.*
.env.local
!.env.example
!**/.env.example

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System & OS
.DS_Store
Thumbs.db